/*
    Store Home CSS
    ===============================================
*/

html.no-touch .rf-cards-scroller .paddlenav-arrow {
    transition: transform 0.5s ease-in, opacity 0.7s cubic-bezier(0.15, 0, 0.2, 1) 0.1s;
}

html.no-touch .rf-cards-scroller:hover .paddlenav-arrow:not([disabled]) {
    transition-duration: 0.5s;
}

html.no-touch .rf-cards-scroller:hover .paddlenav-arrow:hover:not([disabled]) {
    transition-duration: 0.5s;
}

html.no-touch .rf-cards-scroller:hover .paddlenav-arrow:active:not([disabled]) {
    transition-duration: 0.5s;
}

html.as-keyboarduser .rf-cards-scroller .paddlenav-arrow:focus {
    transition-duration: 0.5s;
}

html.as-keyboarduser .rf-cards-scroller .paddlenav-arrow:active {
    transition-duration: 0.5s;
}

.rf-ccard-withvideo .rf-ccard-content-desc {
    width: auto;
    align-self: center;
}

.rf-ccard-withvideo div:empty {
    height: 1px;
}

.rf-ccard-content-desccontent {
    display: block;
    font-weight: 600;
    padding-bottom: 6px;
}
